# Python
venv/
__pycache__/
*.pyc
*.egg-info/

# Node
node_modules/
dist/

# Env files
backend/.env
frontend/.env

# FAISS index (needed for deployment since Render has no persistent disk and 512MB RAM)
# backend/faiss_index/

# OS/editor
.DS_Store
.vscode/
.idea/